body{
	font-family: montserrat;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    margin-top: 0;
}

.nav-link {
    display: block;
    font-weight: bold;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
    text-decoration: none;
}

.nav-link:hover {
	border-bottom: 2px solid;
}

.active {
    text-decoration: stroke;
}

.active {
    border-bottom: 2px solid;
}

.about {
    margin: 10rem 5rem 5rem;
    animation: fadeInAnimation ease 0.75s forwards;
}

.ill {
    text-align: center;
}

.about-ill {
    display: inline-block;
    position: relative;
    width:400px;
    margin-bottom: 5%;
}

.image{
    margin-left: 4rem;
    position: relative;
}

.face {
    display: inline-block;
    position: absolute;
    margin-left: 3%;
    z-index: 5;
}

.small-line {
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-left: 10%;
    animation: translate 2s ease-in-out alternate infinite;
}

.long-line {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: -9.5%;
    margin-top: 10%;
    top:150px;
    animation: translate 2s ease-in-out alternate-reverse infinite;
}

.description {
    font-weight: 500;
	display: inline-block;
	width: 35%;
	position: absolute;
    font-size: 2rem;
    margin-left: 52%;
    top:17.5%;
}

@media only screen and (max-width: 980px) {
    .description {
    display: block;
    width: 100%;
    position: initial;
    font-size: 2rem;
    margin-left: 0;
    }
    .small-line, .long-line {
        display: none;
    }
    .image {
        width: fit-content;
        margin: 0 auto;
    }
    .face {
     position: initial;
     margin-left: 0%;
    }

  }

.connect {
    margin-top:15%;
    text-align: center;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
        transform: translate(0px, 10px);
    } 
    100% { 
        opacity: 1; 
        transform: translate(0px, 0px);
     } 
} 

@keyframes translate {
    from {
        top:-100px;
    }
    to {
        top:0px;
    }
}