body{
	font-family: montserrat;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    border-radius:5px;
  }
  
::-webkit-scrollbar-thumb {
    background: #3ec5e8;
    border-radius: 10px;
  }

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    margin-top: 0;
}

.nav-link {
    display: block;
    font-weight: bold;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
    text-decoration: none;
}

.nav-link:hover {
	border-bottom: 2px solid;
}

.active {
    text-decoration: stroke;
}

.active {
    border-bottom: 2px solid;
}

.about {
    margin: 10rem 5rem 5rem;
    animation: fadeInAnimation ease 0.75s forwards;
}

.ill {
    text-align: center;
}

.about-ill {
    display: inline-block;
    position: relative;
    width:400px;
    margin-bottom: 5%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.face {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    z-index: 5;
}

.small-line {
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-left: 10%;
    animation: translate 2s ease-in-out alternate infinite;
}

.long-line {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: -9.5%;
    margin-top: 10%;
    top:150px;
    animation: translate 2s ease-in-out alternate-reverse infinite;
}

.description {
    /* font-weight: 100; */
	display: block;
	width: 45%;
	/* position: absolute; */
    font-size: 1.5rem;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
    /* top:17.5%; */
}

@media only screen and (max-width: 980px) {
    
    .face {
     display: block;
     margin-left: auto;
     margin-right: auto;
    }
    .description {
        display: block;
        width: 70%;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        }
  }

.connect {
    margin-top:15%;
    text-align: center;
}

.fab, .fas{
    padding: 0px;
    font-size: 40px;
    margin: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: lightslategray;
    transition: 0.25s;
  }
  
  /* Add a hover effect if you want */
  /* .fab:hover, .fas:hover {
    opacity: 0.7;
  } */

.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-medium:hover{
    color: black;
}
.fa-facebook:hover{
    color:#4267B2;
}
.fa-instagram-square:hover{
    color:#C13584;
}
.fa-envelope:hover{
    color:#DB4437;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
        transform: translate(0px, 10px);
    } 
    100% { 
        opacity: 1; 
        transform: translate(0px, 0px);
     } 
} 

@keyframes translate {
    from {
        top:-100px;
    }
    to {
        top:0px;
    }
}