.nav-link {
    display: block;
    font-size: 200%;
    color: black;
    padding: 2.5rem 4rem;
}

.home {
    width: 40%;
    margin-left: 11%;
    top: 40%;
    position: absolute;
}

.name {
    font-size: 340%;
}

.my-detail {
    font-size: 185%;
}
