body{
    font-family: Montserrat;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.nav-link {
    display: block;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
    text-decoration: none;
}

.active {
    background-image: linear-gradient(rgba(106, 209, 230, 0.3), rgba(54, 79, 182, 0.3));
    background-size: 73% 11px;
    background-position: 13px 33px;
    background-repeat: no-repeat;
}

.home {
    width: 40%;
    margin-left:15%;
    margin-top: 5rem;
    float: left;
}

.name {
    font-size: 340%;
}

.my-detail {
    font-size: 170%;
}

.image {
    display: inline-block;
    position: relative;
}

.image-main img {
    width: 450px;
    height: 450px;
}

.Ellipse-large {
    position: absolute;
    top: 47%;
    right: 78%;
}

.White-circle-large {
    position: absolute;
    top: 41%;
    right: 68%;
}

.Ellipse-small {
    position: absolute;
    top: 10%;
    left: 85%;
}

.White-circle-small {
    left: 81%;
    position: absolute;
    top: 6%;
}

.section {
    margin-top: 4%;
}

.section-name {
    display: inline;
    font-size: 160%;
}

.line {
    width: 37%;
    margin: 0 3%;
}

@media (max-width: 1117px){
    .description {
        display: flex;
        flex-flow: column;
    }
    .home {
        order: 2;
        margin: auto;
        width: 35%;
    }
    .image {
        order: 1;
        width: 400px;
        margin: auto;
    }
    .image-main img {
        width: 400px;
        height:400px;
    }
    .Ellipse-large {
        top: 54%;
        right: 80%;
    }
    .Ellipse-large img {
        width: 150px;
    }
    .White-circle-large img {
        width: 200px;
    }
    .White-circle-large {
        top: 48%;
        right: 75%;
    }
    .Ellipse-small {
        top: 9%;
        left: 87%;
    }
    .Ellipse-small img{
        width: 85px;
    }
    .White-circle-small {
        left: 83%;
        top: 6%;
    }
    .White-circle-small img{
        width: 110px;
    }
}
