body{
    font-family: Montserrat;
}
.nav-link {
    display: block;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
}

.active {
    background-image: linear-gradient(rgba(106, 209, 230, 0.3), rgba(54, 79, 182, 0.3));
    background-size: 73% 11px;
    background-position: 13px 33px;
    background-repeat: no-repeat;
}

.home {
    width: 40%;
    margin-left:12%;
    top: 40%;
    position: absolute;
}

.name {
    font-size: 340%;
}

.my-detail {
    font-size: 170%;
}

.image-main {
    margin-left: 60%;
    top: 25%;
    position: absolute;
}
.Large-group{
    align-content: center;
}
.Ellipse-large {
    top: 55%;
    margin-left: 55%;
    position: absolute;
}
.White-circle-large {
    top: 53.75%;
    margin-left: 55%;
    position: absolute;
}
.Small-group{
    align-content: center;
}
.Ellipse-small {
    top: 30%;
    margin-left: 83%;
    position: absolute;
}
.White-circle-small {
    top: 28.65%;
    margin-left: 82.5%;
    position: absolute;
}

.section {
    margin-top: 35%;
}

.section-name {
    display: inline;
    font-size: 160%;
}

.line {
    width: 40%;
    margin: 0 3%;
}
