body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
	font-weight: normal;
}
:root {
	--web-view-ids: Clock;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
	list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    margin-top: 0;
}

.nav-link {
    display: block;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
    text-decoration: none;
}

.active {
    text-decoration: stroke;
}
.DesignImg{
	width:60%;
	margin: auto !important;
	display: block;
}
#Clock * {
	margin: 0;
	padding: 0;
}
.Clock_Class {
	position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%);
	left: 50%;
	top: 18rem !important;
	background: #E5E5E5;
	width: 1900px;
	height: 1050px;
	background-color: rgba(255,255,255,1);
	overflow: visible;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: Clock;
	--web-view-id: Clock;
	--web-scale-to-fit: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

.active {
    border-bottom: 2px solid;
}
.Line_106_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(38, 162, 138);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_106 {
	overflow: visible;
	position: absolute;
	top: 733.5px;
	left: 0.5px;
	width: 1920px;
	height: 10px;
}
.present_12_Class {
	opacity: 1;
	fill: url(#present_12_A31_Rectangle_2_pattern);
}
.present_12 {
	position: absolute;
	overflow: visible;
	width: 835.5px;
	height: 835px;
	left: 542px;
	top: 316px;
}
.Group_16622_Class {
	opacity: 1;
	position: absolute;
	width: 1102px;
	height: 49px;
	left: 409px;
	top: 88px;
	overflow: visible;
}
.Home_Class {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.About_Class {
	opacity: 1;
	position: absolute;
	left: 977px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.Resume_Class {
	opacity: 1;
	position: absolute;
	left: 637px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.Projects_Class {
	opacity: 1;
	position: absolute;
	left: 297px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.Research_Class {
	opacity: 1;
	position: absolute;
	left: 270.555px;
	top: 3520.9px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Hypothesis_Class {
	opacity: 1;
	position: absolute;
	left: 270.555px;
	top: 4407.884px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 240px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Competition_Analysis__Class {
	opacity: 1;
	position: absolute;
	left: 270.555px;
	top: 5807.688px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 468px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Challenge__Class {
	opacity: 1;
	position: absolute;
	left: 270.555px;
	top: 7103.886px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 228px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Sketching__Class {
	opacity: 1;
	position: absolute;
	left: 270.555px;
	top: 7771.167px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 228px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Refining__Class {
	opacity: 1;
	position: absolute;
	left: 270.555px;
	top: 9698.665px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Mid_Fidelity_Wireframes__Class {
	opacity: 1;
	position: absolute;
	left: 254.111px;
	top: 11933.652px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 522px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Final_Design__Class {
	opacity: 1;
	position: absolute;
	left: 254.111px;
	top: 13781.605px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.New_Doc_2019_07_11_19_21_51_1_Class {
	opacity: 1;
	fill: url(#New_Doc_2019_07_11_19_21_51_1_A31_Rectangle_4_pattern);
}
.New_Doc_2019_07_11_19_21_51_1 {
	position: absolute;
	overflow: visible;
	width: 875.863px;
	height: 695.933px;
	left: 522px;
	top: 8274.958px;
}
.New_Doc_2019_07_11_19_21_51_2_Class {
	opacity: 1;
	fill: url(#New_Doc_2019_07_11_19_21_51_2_A31_Rectangle_6_pattern);
}
.New_Doc_2019_07_11_19_21_51_2 {
	position: absolute;
	overflow: visible;
	width: 608.977px;
	height: 957.991px;
	left: 656px;
	top: 10132.755px;
}
.Group_16629_Class {
	opacity: 1;
	position: absolute;
	width: 1298.336px;
	height: 1098.294px;
	left: 311px;
	top: 12457.507px;
	overflow: visible;
}
.iPhone_X_XS___8_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___8_A31_Rectangle_8_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___8 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 0px;
	top: 20.149px;
}
.iPhone_X_XS___9_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___9_A31_Rectangle_10_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___9 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 367.881px;
	top: 20.149px;
}
.iPhone_X_XS___10_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___10_A31_Rectangle_12_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___10 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 726.674px;
	top: 20.18px;
}
.iPhone_X_XS___11_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___11_A31_Rectangle_14_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___11 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 1082.443px;
	top: 19.248px;
}
.iPhone_X_XS___13_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___13_A31_Rectangle_16_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___13 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 726.674px;
	top: 630.813px;
}
.iPhone_X_XS___5_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___5_A31_Rectangle_18_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___5 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 0px;
	top: 630.784px;
}
.iPhone_X_XS___8_A31_Rectangle_19_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___8_A31_Rectangle_20_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___8_A31_Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 367.881px;
	top: 630.784px;
}
.iPhone_X_XS___14_Class {
	opacity: 1;
	fill: url(#iPhone_X_XS___14_A31_Rectangle_22_pattern);
	stroke: rgb(24, 159, 136);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iPhone_X_XS___14 {
	position: absolute;
	overflow: visible;
	width: 215.893px;
	height: 467.48px;
	left: 1082.443px;
	top: 630.813px;
}
.Alarm__Main_Screen__Class {
	opacity: 1;
	position: absolute;
	left: 43.18px;
	top: 1.151px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Alarm__Settings__Class {
	opacity: 1;
	position: absolute;
	left: 784.244px;
	top: 2.333px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.World_Clock_Class {
	opacity: 1;
	position: absolute;
	left: 1150.953px;
	top: 1.401px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Timer___Home_Class {
	opacity: 1;
	position: absolute;
	left: 64.48px;
	top: 612.36px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Stopwatch___Home_Class {
	opacity: 1;
	position: absolute;
	left: 776.76px;
	top: 612.389px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Timer___Paused_Class {
	opacity: 1;
	position: absolute;
	left: 428.908px;
	top: 612.36px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Stopwatch___In_Between__Class {
	opacity: 1;
	position: absolute;
	left: 1112.957px;
	top: 612.389px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Alarm__Addition__Class {
	opacity: 1;
	position: absolute;
	left: 421.998px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(75,178,160,1);
}
.Role_Class {
	opacity: 1;
	position: absolute;
	left: 270.615px;
	top: 1307.782px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	line-height: 73px;
	margin-top: -20px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(38,162,138,1);
}
.Group_16640_Class {
	opacity: 1;
	position: absolute;
	width: 254.232px;
	height: 91.528px;
	left: 221.383px;
	top: 1392.377px;
	overflow: visible;
}
.UX_Designer_Visual__Class {
	opacity: 1;
	position: absolute;
	left: 49.232px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8349_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8349 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 88.062px;
	left: 0px;
	top: 8px;
}
.Group_16645_Class {
	opacity: 1;
	position: absolute;
	width: 1445.172px;
	height: 316px;
	left: 221.383px;
	top: 3630.554px;
	overflow: visible;
}
.After_accepting_the_challenge__Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1397px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8353_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8353 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 315.596px;
	left: 0px;
	top: 25px;
}
.Group_16647_Class {
	opacity: 1;
	position: absolute;
	width: 1443.172px;
	height: 408.348px;
	left: 221.383px;
	top: 4527.538px;
	overflow: visible;
}
.Group_16646_Class {
	opacity: 1;
	position: absolute;
	width: 1443.172px;
	height: 408.348px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.I_realised_the_following_thing_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1395px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8354_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8354 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 408.004px;
	left: 0px;
	top: 25px;
}
.Group_16648_Class {
	opacity: 1;
	position: absolute;
	width: 1374.172px;
	height: 224px;
	left: 221.383px;
	top: 5973.341px;
	overflow: visible;
}
.I_downloaded_2___3_clock_apps__Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1326px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8375_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8375 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 223.188px;
	left: 0px;
	top: 25px;
}
.Group_16649_Class {
	opacity: 1;
	position: absolute;
	width: 1139.172px;
	height: 316px;
	left: 221.383px;
	top: 7269.54px;
	overflow: visible;
}
.Now__I_broke_the_challenge_int_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1091px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8376_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8376 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 235.247px;
	left: 0px;
	top: 25px;
}
.Group_16650_Class {
	opacity: 1;
	position: absolute;
	width: 1135.172px;
	height: 132.125px;
	left: 221.383px;
	top: 7936.82px;
	overflow: visible;
}
.With_the_fixed_challenge_in_th_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1087px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8377_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8377 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 131.781px;
	left: 0px;
	top: 25px;
}
.Group_16652_Class {
	opacity: 1;
	position: absolute;
	width: 1406.172px;
	height: 142.124px;
	left: 221.383px;
	top: 9864.319px;
	overflow: visible;
}
.So__the_existing_problems_requ_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1358px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8378_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8378 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 141.781px;
	left: 0px;
	top: 25px;
}
.Group_16653_Class {
	opacity: 1;
	position: absolute;
	width: 1486.172px;
	height: 500px;
	left: 221.383px;
	top: 11227.604px;
	overflow: visible;
}
.This_is_the_final_solution_tha_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1438px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8384_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8384 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 499.781px;
	left: 0px;
	top: 25px;
}
.Group_16651_Class {
	opacity: 1;
	position: absolute;
	width: 1342.172px;
	height: 316.78px;
	left: 221.383px;
	top: 9176.663px;
	overflow: visible;
}
.The_idea__that_really_appealed_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0.363px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1294px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8383_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8383 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 316.781px;
	left: 0px;
	top: 25px;
}
.Group_16654_Class {
	opacity: 1;
	position: absolute;
	width: 1368.729px;
	height: 139.125px;
	left: 221.383px;
	top: 12099.305px;
	overflow: visible;
}
.I_move_on_to_create_mid_fi_wir_Class {
	opacity: 1;
	position: absolute;
	left: 32.729px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1337px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8379_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8379 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 138.781px;
	left: 0px;
	top: 25px;
}
.Group_16655_Class {
	opacity: 1;
	position: absolute;
	width: 1437.729px;
	height: 139.126px;
	left: 221.383px;
	top: 13947.258px;
	overflow: visible;
}
.Based_on_the_low_fi_frames__I__Class {
	opacity: 1;
	position: absolute;
	left: 32.729px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1406px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Alarm-gif{
	text-align: center;
}
.Rectangle_8380_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8380 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 138.781px;
	left: 0px;
	top: 25px;
}
.Project_Type_Class {
	opacity: 1;
	position: absolute;
	left: 808.764px;
	top: 1307.782px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	line-height: 73px;
	margin-top: -20px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(38,162,138,1);
}
.Group_16641_Class {
	opacity: 1;
	position: absolute;
	width: 340.231px;
	height: 92.005px;
	left: 759.533px;
	top: 1392.377px;
	overflow: visible;
}
.Individual_Class {
	opacity: 1;
	position: absolute;
	left: 49.23px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Design_Challenge_Class {
	opacity: 1;
	position: absolute;
	left: 49.23px;
	top: 52.005px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 292px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8351_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8351 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 88.062px;
	left: 0px;
	top: 8px;
}
.Duration_Class {
	opacity: 1;
	position: absolute;
	left: 1422.152px;
	top: 1307.782px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	line-height: 73px;
	margin-top: -20px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(38,162,138,1);
}
.Group_16642_Class {
	opacity: 1;
	position: absolute;
	width: 287.75px;
	height: 91.529px;
	left: 1385.402px;
	top: 1392.377px;
	overflow: visible;
}
.June_21___July_5___2_Weeks___Class {
	opacity: 1;
	position: absolute;
	left: 36.75px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 252px;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8350_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8350 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 88.062px;
	left: 0px;
	top: 8px;
}
.Group_16631_Class {
	opacity: 1;
	position: absolute;
	width: 662.449px;
	height: 132.853px;
	left: 629px;
	top: 4089.313px;
	overflow: visible;
}
.Group_16625_Class {
	opacity: 1;
	position: absolute;
	width: 662.449px;
	height: 132.853px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Line_107_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(38, 162, 138);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_107 {
	overflow: visible;
	position: absolute;
	top: 65.72px;
	left: 150.52px;
	width: 347.025px;
	height: 5px;
}
.IST_Class {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 22.613px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	line-height: 147px;
	margin-top: -40px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 67px;
	color: rgba(38,162,138,1);
}
.PST_Class {
	opacity: 1;
	position: absolute;
	left: 534.449px;
	top: 24.027px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	line-height: 147px;
	margin-top: -40px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 67px;
	color: rgba(38,162,138,1);
}
.Ellipse_49_Class {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(38, 162, 138);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_49 {
	position: absolute;
	overflow: visible;
	width: 132.854px;
	height: 132.853px;
	left: 255.813px;
	top: 0px;
}
.Path_100_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(38, 162, 138);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_100 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 15.557px;
	left: 259.848px;
	width: 38.125px;
	height: 65.012px;
}
.Path_101_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(38, 162, 138);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_101 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.108px;
	left: 322.313px;
	width: 65.725px;
	height: 68.103px;
}
.Path_102_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(38, 162, 138);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_102 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 91.176px;
	left: 280.883px;
	width: 90.215px;
	height: 25.716px;
}
.Group_16632_Class {
	opacity: 1;
	position: absolute;
	width: 1117.256px;
	height: 514.451px;
	left: 400.998px;
	top: 5107.244px;
	overflow: visible;
}
.Group_16626_Class {
	opacity: 1;
	position: absolute;
	width: 353.189px;
	height: 514.451px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_8355_Class {
	opacity: 1;
	fill: rgba(177,211,205,1);
}
.Rectangle_8355 {
	position: absolute;
	overflow: visible;
	width: 273.055px;
	height: 514.451px;
	left: 0px;
	top: 0px;
}
.Rectangle_8356_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8356 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 30.34px;
}
.Rectangle_8357_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8357 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 106.188px;
}
.Rectangle_8358_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8358 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 182.037px;
}
.Rectangle_8359_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8359 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 257.885px;
}
.Rectangle_8360_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8360 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 333.733px;
}
.Rectangle_8361_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8361 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 409.582px;
}
.Intersection_1_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Intersection_1 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 485.43px;
	left: 19.127px;
	width: 235.459px;
	height: 29.021px;
}
.Path_103_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(177, 211, 205);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_103 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 22.988px;
	left: 312.328px;
	width: 30.227px;
	height: 17.942px;
}
.Path_104_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(177, 211, 205);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_104 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 22.988px;
	left: 326.025px;
	width: 4px;
	height: 202.875px;
}
.Path_105_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Path_105 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 258.091px;
	left: 308.84px;
	width: 44.35px;
	height: 45.464px;
}
.Group_16627_Class {
	opacity: 1;
	position: absolute;
	width: 442.35px;
	height: 514.451px;
	left: 674.906px;
	top: 0px;
	overflow: visible;
}
.Rectangle_8365_Class {
	opacity: 1;
	fill: rgba(177,211,205,1);
}
.Rectangle_8365 {
	position: absolute;
	overflow: visible;
	width: 273.055px;
	height: 514.451px;
	left: 0px;
	top: 0px;
}
.Rectangle_8366_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8366 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 30.34px;
}
.Rectangle_8367_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8367 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 106.188px;
}
.Rectangle_8368_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8368 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 182.037px;
}
.Rectangle_8369_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8369 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 257.885px;
}
.Rectangle_8370_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8370 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 333.733px;
}
.Rectangle_8371_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Rectangle_8371 {
	position: absolute;
	overflow: visible;
	width: 235.461px;
	height: 48.807px;
	left: 19.127px;
	top: 409.582px;
}
.Intersection_2_Class {
	opacity: 1;
	fill: rgba(38,164,142,1);
}
.Intersection_2 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 485.43px;
	left: 19.127px;
	width: 235.459px;
	height: 29.021px;
}
.Rectangle_8374_Class {
	opacity: 1;
	fill: rgba(177,211,205,1);
}
.Rectangle_8374 {
	position: absolute;
	overflow: visible;
	width: 57.988px;
	height: 23.368px;
	left: 185.391px;
	top: 270.898px;
}
.Ellipse_50_Class {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Ellipse_50 {
	position: absolute;
	overflow: visible;
	width: 23.369px;
	height: 23.368px;
	left: 185.391px;
	top: 270.898px;
}
.Back_to_the_Past_Class {
	opacity: 1;
	position: absolute;
	left: 314.35px;
	top: 191.273px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -10.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Group_16628_Class {
	opacity: 1;
	position: absolute;
	width: 1051.445px;
	height: 536.666px;
	left: 354px;
	top: 6381.359px;
	overflow: visible;
}
.Google_Class {
	opacity: 1;
	position: absolute;
	left: 291.242px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	line-height: 59px;
	margin-top: -16px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.Old_Alarms_Track_Class {
	opacity: 1;
	position: absolute;
	left: 7.941px;
	top: 105.75px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.ID4_Basic_features_Class {
	opacity: 1;
	position: absolute;
	left: 27.797px;
	top: 238.498px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.Overview_of_all_Alarms_Class {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 371.246px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Pleasing_UI_Class {
	opacity: 1;
	position: absolute;
	left: 6.924px;
	top: 503.666px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.Egert_Class {
	opacity: 1;
	position: absolute;
	left: 488.096px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 57px;
	margin-top: -15.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.AVG_Labs_Class {
	opacity: 1;
	position: absolute;
	left: 661.689px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 57px;
	margin-top: -15.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.WS_Infotech_Class {
	opacity: 1;
	position: absolute;
	left: 891.445px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	line-height: 57px;
	margin-top: -15.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Ellipse_55_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Ellipse_55 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 329.818px;
	top: 260.623px;
}
.Ellipse_59_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_59 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 329.818px;
	top: 393.371px;
}
.Ellipse_67_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Ellipse_67 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 329.818px;
	top: 508.481px;
}
.Ellipse_63_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_63 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 329.818px;
	top: 127.875px;
}
.Ellipse_56_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_56 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 514.758px;
	top: 260.623px;
}
.Ellipse_60_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_60 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 514.758px;
	top: 393.371px;
}
.Ellipse_68_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Ellipse_68 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 514.758px;
	top: 508.481px;
}
.Ellipse_64_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_64 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 514.758px;
	top: 127.875px;
}
.Ellipse_57_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Ellipse_57 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 716.717px;
	top: 260.623px;
}
.Ellipse_61_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_61 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 716.717px;
	top: 393.371px;
}
.Ellipse_69_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Ellipse_69 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 716.717px;
	top: 508.481px;
}
.Ellipse_65_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_65 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 716.717px;
	top: 127.875px;
}
.Ellipse_58_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_58 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 966.328px;
	top: 260.623px;
}
.Ellipse_62_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_62 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 966.328px;
	top: 393.371px;
}
.Ellipse_70_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_70 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 966.328px;
	top: 508.481px;
}
.Ellipse_66_Class {
	opacity: 1;
	fill: transparent;
	stroke: rgb(178, 178, 178);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_66 {
	position: absolute;
	overflow: visible;
	width: 24.961px;
	height: 24.961px;
	left: 966.328px;
	top: 127.875px;
}
.Intro_Class {
	opacity: 1;
	position: absolute;
	left: 262.172px;
	top: 1669.86px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Group_16643_Class {
	opacity: 1;
	position: absolute;
	width: 1403.172px;
	height: 550.348px;
	left: 213px;
	top: 1792.239px;
	overflow: visible;
}
.This_project_exists_because_of_Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1355px;
	white-space: nowrap;
	line-height: 85px;
	margin-top: -26px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8381_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8381 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 550.004px;
	left: 0px;
	top: 25px;
}
.Overview_Class {
	opacity: 1;
	position: absolute;
	left: 273.555px;
	top: 3080.86px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(38,162,138,1);
}
.Group_16644_Class {
	opacity: 1;
	position: absolute;
	width: 1336.172px;
	height: 132.348px;
	left: 224.383px;
	top: 3203.239px;
	overflow: visible;
}
.A_Clock_App__that_provides_an__Class {
	opacity: 1;
	position: absolute;
	left: 49.172px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 1288px;
	white-space: nowrap;
	line-height: 92px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
.Rectangle_8382_Class {
	opacity: 1;
	fill: rgba(132,202,189,1);
}
.Rectangle_8382 {
	position: absolute;
	overflow: visible;
	width: 5.547px;
	height: 132.004px;
	left: 0px;
	top: 25px;
}
.support_ill_1_16_Class {
	opacity: 1;
	fill: url(#support_ill_1_16_A31_Rectangle_54_pattern);
}
.support_ill_1_16 {
	position: absolute;
	overflow: visible;
	width: 278.688px;
	height: 453.824px;
	left: 821px;
	top: 2485.057px;
}