body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-weight: normal;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
:root {
	--web-view-ids: Clock;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
	list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    margin-top: 0;
}

.nav-link {
    display: block;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
    text-decoration: none;
}

.active {
    text-decoration: stroke;
}
.DesignImg{
	width:60%;
	margin: auto !important;
	display: block;
}
#Clock * {
	margin: 0;
	padding: 0;
}
.Clock_Class {
	position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%);
	left: 50%;
	background: #E5E5E5;
	width: 100vw;
	height: 1050px;
	background-color: rgba(255,255,255,1);
	overflow: visible;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: Clock;
	--web-view-id: Clock;
	--web-scale-to-fit: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

.active {
    border-bottom: 2px solid;
}
.nav-link:hover {
	border-bottom: 2px solid;
}
.main {
	margin-top: 10rem;
}
.main-image {
	display: block;
    z-index: 10;
    margin: 0 auto;
}
.line {
	height: 10px;
	background-color: #26a28a;
	position: absolute;
    margin-top: 30rem;
    width: 100%;
    z-index: -1;
}
.content{
	width: 83%;
    margin: auto;
}
.grid {
	display: grid;
	grid-template-columns: auto auto auto;
}
.grid-content {
	margin: 2rem 7rem;
}
.vertical-line {
	display: inline-block;
	height: auto;
	width: 5px;
	background-color: #84cabd;
	margin-top: 4.5rem;
}
.vertical-text {
    display: inline-grid;
    padding-bottom: 2rem;
    position: absolute;
}
.vertical-head {
	margin: 0 1.5rem;
	width: max-content;
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.21;
	letter-spacing: normal;
	text-align: left;
	color: #26a28a;
}
.vertical-description {
	padding-top: 2.7rem;
	margin: 0 1.5rem;
	font-family: Montserrat;
	font-weight: bolder;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.52;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}
.intro {
	display: inline-flex;
	margin: 2rem 6.9rem;
	font-family: Montserrat;	
}
.text {
	margin-left: 1.5rem;
	font-family: Montserrat;
	width: 100%;
}
.intro-head {
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.19;
	letter-spacing: normal;
	text-align: left;
	color: #26a28a;
	font-size: 1.5rem;
}
.intro-description {
	margin-top: 1.5rem;
	font-size: 1.1rem;
	line-height: 2.6;
    letter-spacing: 0.7spx;
}

.question-image {
	display: block;
    z-index: 10;
	margin: 5rem auto;
    height: 16rem;
}

.Hypothesis-image2 {
    display: block;
    margin: 1rem auto;
}
.Hypothesis-image1 {
    display: none;
}
.Hypothesis-image {
    width: auto;
}

.refining-image {
	display: grid;
    margin: 1rem 5rem;
    grid-template-columns: auto auto auto auto;
}

.gifs {
	height: 20rem;
    display: block;
    margin: 1rem auto;
}
