body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-weight: normal;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
:root {
	--web-view-ids: Clock;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
	list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
    margin-top: 0;
}

.nav-link {
    display: block;
    font-size: 170%;
    color: black;
    margin: 2.5rem 4rem;
    text-decoration: none;
}
.nav-link:hover {
	border-bottom: 2px solid;
}

.active {
    text-decoration: stroke;
    border-bottom: 2px solid;
}

.main {
    margin-top: 15rem;
}

.intro{
    margin-bottom: 6%;
}
.text-main {
    /* margin-top: 2%; */
    display: inherit;
    text-align: center;
    font-size: 3rem;
    width: 99%;
}
.text {
    display: inline-block;
    text-align: center;
    font-size: 4rem;
}

.image {
    width: 91%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 8rem;
}

.title {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.line1 {
    height: 0.4rem;
    width: 10rem;
    display: inline-block;
    margin: 1rem 1rem;
    border-radius: 0 1rem 0 1rem;
}